ul, ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h4,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

img{
    display: block;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
    color: #434455;
}

/* =========== HEADER =========== */



.nav-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header-container{
    display: flex;
    justify-content: space-between;
}

.logo-top{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 40px;
}

.text-black{
    color: #2e2f42;
}

.menu {
    display: flex;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.menu-link{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus{
    color: #404bbf;
}

.address-page{
    font-style: normal;
}

.address-list{
    display: flex;
}
.address-link:not(:last-child){
   margin-right: 40px;
}

.contact{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contact:hover,
.contact:focus{
    color: #404bbf;
}

/* ========= HERO ========= */
.hero-page{
    background: #2e2f42;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.hero-container{
    padding-top: 188px;
    padding-bottom: 292px;
    padding-left: 331px;
    padding-right: 331px;
}

.hero-txt{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
}

.butt{
    background: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: #ffffff;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
    }

.butt:hover,
.butt:focus{
    background: #404bbf;
}

/* ======== BENEFITS ========= */
.head-benefits{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-txt{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ========= OUR TEAM ========== */
.team-page{
    background: #f4f4fd;
}

.team-head{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
}

.team-list{
    background-color: #ffffff;
}

.team-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-proff{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ========== PORTFOLIO ========= */
.head-portf{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
    text-align: center;
}

.names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.apps-descr{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ========== FOOTER ========== */
.footer-page{
    background: #2e2f42;
}

.footer-txt{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.logo-bottom{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.span-white{
    color: #f4f4fd;
}

